<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MY APP</title>
    <!--<style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>-->



  <body>
    <!--May Node and Express be with you.-->

        <!--<ul class="guesses">
          <% for(var i=0; i<guesses.length; i++) {%>
             <li class="guesses">
               <span><%= guesses[i].name %></span>
               <span><%= guesses[i].quote %></span>
             </li>
             <% } %>
        </ul>-->

        <form action="/quotes" method="POST">
          <input type="text" placeholder="Room ID" name = "id">
          <input type="text" placeholder="word" name="word">
          <input type="text" placeholder="hint" name="hint">
          <button type="submit">Submit</button>
        </form>
    <!--<ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
      });
      socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
        });
    </script>-->
  </body>
</html>
